@model FindIt.Web.Models.DigestFormModel
@{
    ViewBag.Title = "Edit";
}
<table>
    <tr>
        <td>@Html.LabelFor(m => m.Id)
        </td>
        <td>@Html.TextBoxFor(m => m.Id)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.Title)
        </td>
        <td>@Html.TextBoxFor(m => m.Title)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.Author)
        </td>
        <td>@Html.TextBoxFor(m => m.Author)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.DatePosted)
        </td>
        <td>@Html.TextBoxFor(m => m.DatePosted)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.Picture)
        </td>
        <td>@Html.TextBoxFor(m => m.Picture)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.Width)
        </td>
        <td>@Html.TextBoxFor(m => m.Width)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.Height)
        </td>
        <td>@Html.TextBoxFor(m => m.Height)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.PictureFormat)
        </td>
        <td>@Html.TextBoxFor(m => m.PictureFormat)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.Brief)
        </td>
        <td>@Html.TextBoxFor(m => m.Brief)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.FullText)
        </td>
        <td>@Html.TextBoxFor(m => m.FullText)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.Press)
        </td>
        <td>@Html.TextBoxFor(m => m.Press)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.PressUrl)
        </td>
        <td>@Html.TextBoxFor(m => m.PressUrl)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.Source)
        </td>
        <td>@Html.TextBoxFor(m => m.Source)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.CategoryId)
        </td>
        <td>@Html.TextBoxFor(m => m.CategoryId)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.Keywords)
        </td>
        <td>@Html.TextBoxFor(m => m.Keywords)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.ContributorId)
        </td>
        <td>@Html.TextBoxFor(m => m.ContributorId)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.Deleted)
        </td>
        <td>@Html.TextBoxFor(m => m.Deleted)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.DateSelected)
        </td>
        <td>@Html.TextBoxFor(m => m.DateSelected)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.LastUpdated)
        </td>
        <td>@Html.TextBoxFor(m => m.LastUpdated)
        </td>
    </tr>
</table>
