@model FindIt.Web.Models.DigestFormModel
@{
    ViewBag.Title = "Edit";
}
<h2>
    Show</h2>
<div>
    <div class="display-label">@Html.LabelFor(model => model.Id)
    </div>
    <div class="display-field">
        @Model.Id</div>
    <div class="display-label">@Html.LabelFor(model => model.Title)
    </div>
    <div class="display-field">
        @Model.Title</div>
    <div class="display-label">@Html.LabelFor(model => model.Author)
    </div>
    <div class="display-field">
        @Model.Author</div>
    <div class="display-label">@Html.LabelFor(model => model.DatePosted)
    </div>
    <div class="display-field">
        @Model.DatePosted</div>
    <div class="display-label">@Html.LabelFor(model => model.Picture)
    </div>
    <div class="display-field">
        @Model.Picture</div>
    <div class="display-label">@Html.LabelFor(model => model.Width)
    </div>
    <div class="display-field">
        @Model.Width</div>
    <div class="display-label">@Html.LabelFor(model => model.Height)
    </div>
    <div class="display-field">
        @Model.Height</div>
    <div class="display-label">@Html.LabelFor(model => model.PictureFormat)
    </div>
    <div class="display-field">
        @Model.PictureFormat</div>
    <div class="display-label">@Html.LabelFor(model => model.Brief)
    </div>
    <div class="display-field">
        @Model.Brief</div>
    <div class="display-label">@Html.LabelFor(model => model.FullText)
    </div>
    <div class="display-field">
        @Model.FullText</div>
    <div class="display-label">@Html.LabelFor(model => model.Press)
    </div>
    <div class="display-field">
        @Model.Press</div>
    <div class="display-label">@Html.LabelFor(model => model.PressUrl)
    </div>
    <div class="display-field">
        @Model.PressUrl</div>
    <div class="display-label">@Html.LabelFor(model => model.Source)
    </div>
    <div class="display-field">
        @Model.Source</div>
    <div class="display-label">@Html.LabelFor(model => model.CategoryId)
    </div>
    <div class="display-field">
        @Model.CategoryId</div>
    <div class="display-label">@Html.LabelFor(model => model.Keywords)
    </div>
    <div class="display-field">
        @Model.Keywords</div>
    <div class="display-label">@Html.LabelFor(model => model.ContributorId)
    </div>
    <div class="display-field">
        @Model.ContributorId</div>
    <div class="display-label">@Html.LabelFor(model => model.Deleted)
    </div>
    <div class="display-field">
        @Model.Deleted</div>
    <div class="display-label">@Html.LabelFor(model => model.DateSelected)
    </div>
    <div class="display-field">
        @Model.DateSelected</div>
    <div class="display-label">@Html.LabelFor(model => model.LastUpdated)
    </div>
    <div class="display-field">
        @Model.LastUpdated</div>
</div>
